@{
ViewData["Title"] = "Counter";
}

<div class="text-center">
    <h1>Components</h1>
    <div class="d-flex justify-content-center gap-2">
        <count-component></count-component>
        <count-component></count-component>
        <count-component></count-component>
    </div>
</div>

@* Create mixin *@
@section Scripts {
    <script>
        
        const pageMixin = {};
    
    </script>
}
