@{
ViewData["Title"] = "Counter";
}

<div class="text-center">
    <h1>Components</h1>
    <count-component></count-component>
</div>

@* Create mixin *@
@section Scripts {
    <script>
        
        const pageMixin = {
            data() {
                return {
                    count: 0
                };
            },
            methods: {
                increment() {
                    this.count++;
                },
                decrement() {
                    this.count--;
                }
            }
        };
    
    </script>
}
